@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    body {
        @apply font-poppins
    }

    .mobile-container {
        @apply w-10/12 mx-auto
    }

    .tablet-container {
        @apply w-9/12 mx-auto
    }

    .desktop-container {
        @apply w-3/4 mx-auto
    }

    .wide-desktop-container {
        @apply w-2/3 mx-auto
    }

    .responsive {
        @apply mobile-container md:tablet-container lg:desktop-container 2xl:wide-desktop-container
    }

    #mobile-menu li {
        @apply py-1
    }

    #desktop-menu li:not(:last-child) , #mobile-menu li:not(:last-child) {
        @apply transition duration-200 hover:text-slate-600 hover:font-semibold
    }

    /*  */

    #app {
        height: 100%;
      }
      html,
      body {
        position: relative;
        height: 100%;
      }
      
      body {
        background: #eee;
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 14px;
        color: #000;
        margin: 0;
        padding: 0;
      }
      
      .swiper {
        width: 100%;
        height: 100%;
      }
      
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
      
        /* Center slide text vertically */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .swiper-slide img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      

    /*  */
}